*{
    font: lighter 26px sans-serif;
    margin-top: 100;
    padding: 0;
}

html {
    background-image: radial-gradient(#8fb2e8, #cee1ff);

}
/* Styles the larger text at the top of the page */
header {
    margin: 0 auto;
    font: 44px sans-serif;
    text-align: center;
    margin-top: 30px;
}
/* Styles the wrapper div which contains all content */
.wrapper {
    width: 80%;
    margin: 0 auto;
}
/* Styles the three column div  */
.twoCol {
    display: flex;
    margin-top: -30px;
}   .firstCol {
    width: 60%;
    margin-top: 100px;
    margin-left: 90px;
}   .firstCol ul ul{ /* Styles for the ul (unordered lists) in the left column */
    margin-left: 30px;
    list-style: disc;    
}   .secondCol {
    margin-top: 100px;
    margin-left: 90px;
}   .secondCol img{
    width: 350px;
}   
/*styles the h1-h3 header sections */
h1 {
    position: relative;
    font: 30px sans-serif;
    margin-left: -30px;
}
h2 {
    position: relative;
    font: 28px sans-serif;
    margin-left: -10px;
    margin-top: 100px;
    text-align: justify;
}
h3 {
    position: left;
    font: 15px sans-serif;
    margin-left: -175px;
    margin-top: 90px;
    text-align: left;
}